.changepassworddlg {
    .check {
        position: relative;
        i {
            position: absolute;
            color: green;
            right: 24px;
            top: 9px;
            font-size: 18px;
        }
    }
}